/* Enter your custom styles here */
.customForm {
    margin: 0;
    padding: 0;
}
.customBorder {
    border: 2px solid #ccc; 
    border-radius: 10px;
}

.noTitles .sapUiFormTitle.sapUiFormTitleH5 {
    display: none !important;
}
.noTitles .sapUiFormTitleRow {
    display: none !important;
}

.noTopPadding .sapUiFormElementLbl:first-child,
.noTopPadding .sapUiRespGridSpan12:first-child {
    padding-top: 0 !important;
}
